@font-face {
    font-family: 'Post No Bills Jaffna Light Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Post No Bills Jaffna Light Regular'), url('PostNoBillsJaffna-Light.woff') format('woff');
    }
    